body {
    font-family: Arial, sans-serif;
    background-color: rgb(70, 43, 4);
    margin: 0;
    padding: 0;
}

#login-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#login-container h2 {
    color: #333;
}

#login-container form {
    display: flex;
    flex-direction: column;
}

#login-container label {
    margin-top: 10px;
    text-align: left;
    font-size: 14px;
}

#login-container input {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#login-container button {
    padding: 12px;
    background-color: #ffa500; /* orange */
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

#login-container button:hover {
    background-color: #e68500; /* slightly darker orange */
}

#login-container p {
    margin-top: 10px;
    font-size: 14px;
}

#login-container a {
    color: #ffa500;
    text-decoration: none;
}

#login-container a:hover {
    text-decoration: underline;
}
